.vscode
.terraform
/vm/storage
*.img
*.qcow2
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl

__pycache__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
Pipfile.lock
